* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  min-width: 300px;
  min-height: 400px;
  border: 5px solid lightgrey;
  padding: 20px 10px;
  border-radius: 12px;
  margin: 10px;
  align-items: center;
  flex-direction: column;
}
.board__title {
  font-size: 1.5rem;
  font-weight: 700;
}
.item {
  width: 100%;
  border: 2px solid lightpink;
  padding: 10px;
  border-radius: 6px;
  margin: 5px 0;
  cursor: grab;
  background-color: #fcfcf9;
}